<mat-toolbar color="primary">
  <div [routerLink]="'/'">
    <!--     <button mat-icon-button>
      <mat-icon svgIcon="jr"></mat-icon>
    </button> -->
    <span>{{ 'WEB_TITLE' | translate }}</span>
  </div>
  <span class="spacer"></span>
  <div class="row">
    <mat-divider [vertical]="true"></mat-divider>
    <ng-container *ngFor="let route of routeConfig">
      <button mat-button [routerLink]="route">
        {{ route | uppercase | translate }}
      </button>
      <mat-divider [vertical]="true"></mat-divider>
    </ng-container>
  </div>
  <span class="spacer"></span>
  <mat-icon class="mr-8">light_mode</mat-icon>
  <mat-slide-toggle [formControl]="toggleControl" class="mr-8"> </mat-slide-toggle>
  <mat-icon>dark_mode</mat-icon>
</mat-toolbar>
