<section class="height-90 width-70 center">
  <mat-card class="column column-center">
    <div class="column column-center">
      <h1 class="presentation-text">
        {{ 'HOME_PAGE_TITLE' | translate }}
      </h1>
      <img src="/assets/images/luaLogo.svg" alt="image" class="img" />
      <!-- https://developers.cemexgo.com/content/overview-welcome.gif -->
    </div>
  </mat-card>

  <mat-card>
    <div class="presentation-text">
      {{ 'HOME_PAGE_APP_DESCRIPTION' | translate }}
      <a href="https://github.com/alejandroppir/lua-macros-configurations" title="github" target="_blank">
        <mat-icon class="material-icons-round">star</mat-icon>
      </a>
    </div>
  </mat-card>
</section>
